body {
    background-image: url(assets/fondo.jpg) ;
    background-size: cover;
}

h1 {
    font-size: 60px;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
    text-align: center;
    color: rgb(0, 225, 255);
    border: 2px solid rgb(0, 225, 255);
    border-radius: 20px;
}

img {
    border: 3px solid #070908;
    border-radius: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(95, 158, 160, 0.123);
    font-size: 30px;      
    text-align: center;
    color: rgb(0, 225, 255);
}

.yo {
    width: 10%;
    border-radius: 50%;
}